process {
    // guppy container config is located in the guppy_gpu module
    withLabel: minimap2         { container = 'nanozoo/minimap2:2.26--d9ef6b6' }
    withLabel: plasflow         { container = 'quay.io/biocontainers/plasflow:1.1.0--py35_0' }
    withLabel: seqkit           { container = 'nanozoo/seqkit:2.3.1--401ce9e'}
    withLabel: samtools         { container = 'nanozoo/samtools:1.17--6420653'}
    withLabel: ggplot2          { container = 'nanozoo/ggplot2:3.3.1--e13f257' }
    withLabel: bedtools         { container = 'nanozoo/bedtools:2.31.0--7e7b842' }
}
